<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Barter Station</title>
        <link rel="stylesheet" href="/styles/mainlayout.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <div class=home-history-my-item>
            <a href="/">Home</a> <a href="/">History</a> <a href="/">My Item</a>
        </div>
        <div>
            <div class="mainpage">
                <h1 id="head">UNEXPECTED  EXPERIENCE</h1> 
                <h2 id="welcome">Welcome to Barter! Please log in or sign up first.</h2>
                <div class="space50"></div>
                <a id=log_in href="/login">Log in</a>
                <a id=sign_up href="/signup">Sign up</a>
            </div>
        </div>
    </body>
</html>