<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/styles/mainlayout.css">
    <link rel="stylesheet" href="/styles/index.css"
</head>
<body>
    <header class="masthead">
        <ul class="toplist">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Log in</a>
            </li>
            <li>
                <a href="/signup">Sign up</a>
            </li>
        </ul>
    </header>
    <!===================END MASTHEAD===============>
    <div class="mainpage">
        <div class="space50"></div>
        <h2>Sorry, it seems we don't have any information about your account.</h1>
        <div class="space50"></div>
        <h2><a href="/login">Click to re-enter account</a></h2>
    </div>
</body>