<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>login page</title>
        <link rel="stylesheet" href="/styles/mainlayout.css">
        <link rel="stylesheet" href="/styles/index.css"
    </head>
    <body>
        <div class=home-history-my-item>
            <a href="/">Home</a> <a href="/">History</a> <a href="/">My Item</a>
        </div>
        
        <div class="mainpage">
            <div class="space50"></div>
            <h1>Congradulation! You have successfully signed up!</h1>
            <div class="space50"></div>
            <h2><a href="/">Click to return the home page</a></h2>
        </div>
    </body>
</html>