
.toplist {
    font-size: x-large;
    font-family: serif;
    list-style-type:none;
    margin:0;
    padding:0;    
}

.toplist a {
    display: block;
    width: 100px;
    background-color: #dddddd;
}

.toplist li {
    float: left;
}


