body {
    background-image: url(https://wallpaperscraft.com/image/gradient_light_dark_background_51893_1600x1200.jpg);
    background-color: #000000;
    background-size: cover;
}

.home-history-my-item {
    float: right;
    font-family: Arial,Verdana,Sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
    margin-right: 10px;
}

.prompt {
    text-align: center;
    color: #ffffff;
}

.prompt a {
    color: #00f;
}


.space50 {
    height: 50px;
    clear: both;
}

legend {
    color:#00f;
    background-color:#ddd;
}

a {
    color: #ffffff;
}